<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{/fragments/index :: head}" />
<body id="page-top">
	
	<!-- Page Wrapper -->
	<div id="wrapper">
	
		<!-- Sidebar -->
		<th:block th:insert="~{/fragments/index :: #accordionSidebar}" />
		
		<!-- Content Wrapper -->
    	<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">
				<th:block th:insert="~{/fragments/index :: .navbar}" />
				
				<!-- Begin Page Content -->
        		<div class="container-fluid">
        			
        			<!-- Page Heading -->
					<th:block th:insert="~{/fragments/index :: heading(title='Students List')}" />
				
					<!-- DataTable -->
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<div class="row">
								<div class="col-6 my-auto">
									<h6 class="m-0 font-weight-bold text-primary">Listing Student's Domain</h6>
								</div>
								<div class="col-6 my-auto">
									<a th:href="@{/student/create}" class="btn btn-primary btn-icon-split btn-sm float-right">
										<span class="text">Create New Student</span>
									</a>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>ID</th>
											<th>Name</th>
											<th>Email</th>
											<th />
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>ID</th>
											<th>Name</th>
											<th>Email</th>
											<th />
										</tr>
									</tfoot>
									<tbody>
										<tr th:each="studentDomain: ${studentDomainList}">
											<td th:text="${studentDomain.id}"></td>
								            <td th:text="${studentDomain.name}"></td>
								            <td th:text="${studentDomain.email}"></td>
											<td>
												<a title="teste" th:href="@{/student/update/{id}(id=${studentDomain.id})}" class="btn btn-info btn-circle btn-sm">
													<i class="fas fa-info-circle"></i>
												</a>
												<span>     </span>
												<a th:href="@{/student/delete/{id}(id=${studentDomain.id})}" class="btn btn-danger btn-circle btn-sm">
													<i class="fas fa-trash"></i>
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- End of DataTables -->	
				
				</div>
				<!-- /.container-fluid -->
				
			</div>
			<!-- End of Main Content -->
			
			<!-- Footer -->
			<th:block th:insert="~{fragments/index :: footer}" />
			<!-- End of Footer -->
			
		</div>
		<!-- End of Content Wrapper -->
		
	</div>
	<!-- End of Page Wrapper -->
	
	<!-- Scroll to Top Button-->
	<th:block th:insert="~{/fragments/index :: #scroll-to-top}" />

	<!-- Logout Modal-->
	<th:block th:insert="~{/fragments/index :: #logoutModal}" />

	<!-- Bootstrap core JavaScript-->
    <th:block th:insert="~{/fragments/index :: body/script}" />
   	
</body>
</html>